header {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
  height: 65px;
}

footer {
  background-color: #343a40 !important;
  color: white !important;
  text-align: center !important;
  padding: 10px 0 !important;
  position: fixed !important;
  width: 100% !important;
  bottom: 0 !important;
}
